<div class="container">
    <div class="row">
        <div class="col-7">
            <h2>Détail de Manga : <b>{{manga.name}}</b> </h2>
            
        <ul class="list-group"> 
            <li class="list-group-item"><b>Date de sortie:</b> {{manga.release_date | date: 'dd/MM/yyyy'}}</li>  
            <li class="list-group-item"><b>Catégorie:</b> {{manga.series_type.type.name}}</li>

            <li class="list-group-item"><b>Résumé:</b> {{manga.summary}}</li>
            <li class="list-group-item"><b>Editor :</b> {{manga.publisher.name}}</li>
            <li class="list-group-item"><b>A propos :</b> {{manga.publisher.about}}</li>
            <li class="list-group-item"><b>Langue:</b> {{manga.language.name}}</li>

            <li class="list-group-item">
                <button type="button" style="text-align: center;" class="btn btn-info" (click)="onListmanga()">Retour</button>
            </li>

        </ul>
        </div>  
           
        
    </div>
</div>
