
<div class="wrapper fadeInDown">
    <div id="formContent">
    
    <h2>Inscription</h2>
    <hr>
    <form [formGroup]="registerForm" (submit)="registerUser()">
        <input type="text" id="name" class="fadeIn second" name="name" placeholder="Nom " formControlName="name">
        <div *ngIf="name?.touched && name?.invalid">
            <small class="text-danger" *ngIf="name?.errors?.['required']">Le nom
              est obligatoire</small>
        </div>
        <input type="text" id="email" class="fadeIn second" name="email" placeholder="Email " formControlName="email">
        <div *ngIf="email?.touched && email?.invalid">
            <small class="text-danger" *ngIf="email?.errors?.['required']">email
              est obligatoire</small>
              <small class="text-danger" style=" color:brown" *ngIf="email?.errors?.['email']">Format requise : test@example.com</small>
        </div>
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="Mot de passe" formControlName="password">
        <div *ngIf="password?.touched && password?.invalid">
            <small class="text-danger" *ngIf="password?.errors?.['required']">Le mot de passe
              est obligatoire</small>
        </div>
        <input type="password" id="password_confirmation" class="fadeIn third" name="password_confirmation" placeholder="Confirmer Mot de passe" formControlName="password_confirmation">
        <div *ngIf="!egal && password_confirmation?.touched && password?.invalid && password_confirmation?.dirty" class="text-danger">
            <small class="text-danger" *ngIf="password?.errors?.['required']">
                Les mots de passe ne concordes pas</small>
          </div>
    
        <input type="submit" class="fadeIn fourth" value="Inscription" [disabled]="registerForm.invalid">
    </form>     
  
    </div>
  </div>